# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
fastApiEnv/

# Angular
/inventory-app/node_modules
/inventory-app/.angular
/inventory-app/dist
/inventory-app/.vscode
/inventory-app/.idea

# IDE
.idea/
.vscode/
*.swp
